<app-header> </app-header>
<div *ngFor="let shoes of map_array; let i = index" class = "card"> 
    <img class = "img" [src] = "shoes.prod.folderName + shoes.prod.imageDisplay + shoes.prod.imageFileType">
    <div class = "text-field">
        <h2 style = "text-align: center;"> {{shoes.prod.nameOfproduct}} </h2>
        <div class = "detail-info"> {{shoes.prod.price}} </div>
        <div class = "detail-info" style = "background-color: rgb(153, 148, 144); color: black;"> Selected : {{shoes.value.length}} </div>
        <button (click) = "product_remove(shoes)"> - </button>
        <!-- <div class = "button">
            <button (click)="product_remove(shoes)"> Remove from your cart </button>  
        </div> -->            
    </div>
</div>  
