
<div class = "body"> </div> 
<div class = "scroll-viewport">
    <div class = "navbar">
        <header> Men's shoes </header>
        <ul>
            <li> Lifestyle </li>
            <li> Jordan </li>
            <li> Running </li>
            <li> Basketball </li>
            <li> Football </li>
            <li> Training & gym </li>
            <li> Skateboarding </li>
            <li> Golf </li>
            <li> Tennis </li>
            <li> Athletics </li>
            <li> Walking </li> 
        </ul>
    </div>
    <div class = "main-doc"> 
        @for (product of ShoesData; track product) {
            <div class = "card">
                <button (click) = "Event(product)" class = "Image"> <img [src] = "product.folderName + product.imageDisplay + product.imageFileType" width="250px"> </button>     
                <strong> <p style = "padding-top: 20px; font-size: 18px;"> {{product.nameOfproduct}} </p> </strong>
                <p> {{product.price}} VND </p>
            </div>
        }
    </div>   
</div>   
<!-- <div class = "test"> </div> -->

