<ng-container *ngIf = "page_0_ison">
    <app-initial-page (first_page_request_active)="receiveMessage_from_front_page()" ></app-initial-page>
</ng-container>

<ng-container *ngIf = "page_1_ison">
    <app-first-page (detail_page_request_active) = receiveMessage_from_first_page($event) ></app-first-page>
</ng-container>

<ng-container *ngIf = "page_2_ison"> 
    <app-detail-product (previous_page_request_active)="receiveMessage_from_detail_page($event)"></app-detail-product>
</ng-container>


<!-- <app-test-build></app-test-build> -->
