<!-- <ng-container *ngIf = "pageison[0]">
    <app-initial-page (product_page_request)="request($event)" ></app-initial-page>
</ng-container>

<ng-container *ngIf = "pageison[1]">
    <app-first-page (shoes_page_request) = "request($event)" ></app-first-page>
</ng-container>

<ng-container *ngIf = "pageison[2]"> 
    <app-detail-product (detail_product_request)="request($event)"></app-detail-product>
</ng-container>

<ng-container *ngIf = "shop_cart_activate">
    <app-shop-cart (turn_of_shop_cart)="request($event)"> </app-shop-cart>
</ng-container> -->

<!-- <app-initial-page> </app-initial-page> -->
<router-outlet> </router-outlet>
