
<div class = "main-detail">
    <app-header> </app-header>
    <!-- <div class = "sub-text">
        Hello <br>
        Hello <br>
        Hello <br>
        Hello <br>
        Hello <br>
    </div> -->
    <button class = "return-button" (click) = "frontPageReturn()"> Go back </button>
    <div class = "navbar"> 
        @for(index of listOfSubImage; track index) {
            <img class = "detail-image" [src] = "singleShoes.folderName + index + singleShoes.imageFileType">
        }
    </div>
    <img class = "image-display" [src] = "singleShoes.folderName + singleShoes.listOfDetailedImage[0] + singleShoes.imageFileType">    
    <h1> {{singleShoes.nameOfproduct}} </h1>
    <p> Men's Shoes </p>
    <h4> <strong> {{finalPrice}} </strong> </h4>
    <p> Select Size </p>
    <div class = "adjust">
        @for(color of listOfSizes; track color) {
            <button> EU {{color}} </button>
        }
    </div>
    <div class = "add-item">
        <button class = "save-item"> Add to Bag </button>
        <button class = "favourite"> Favourite </button>
    </div>    
    <p> {{singleShoes.description}} </p>
    <ul>
        <li> Colors Shown: <i> {{finalColorsString}} </i> </li>
        <li> Country/Region of Origin: <i> {{finalOrigin}} </i> </li>
    </ul>         
</div>
<div class = "sub-doc"> </div>    





