.background {
    background-image: url("/assets/img/saturn.jpg");
    width: 100%;
    height: 100%;
    display: flex;
    background-size: 107.6%;
    justify-content: space-evenly;
    object-fit: contain;
    position: fixed;
}

.header {
    background-image: linear-gradient(90deg,rgba(247, 255, 3, 0), 
                                        rgba(255, 221, 0, 0.848), 
                                        rgba(255, 166, 0, 0.563), 
                                        rgba(128, 0, 128, 0.886), 
                                        rgba(128, 0, 87, 0.215));
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    font-size: 30px;
}
.header .header-text {
    text-align: center;
    position: relative;
    margin: auto;
}

.trans-header {
    margin-left: 900px;
    width: 260px;
    height: 80px;  
    z-index: 2; 
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    /* background-color: white; */
}
.trans-header a {
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}
.trans-header a img{
    display: flex;
}
.card-information{
    position: relative;
    display: inline-block;
    height: 300px;
    width: 200px;
    background-color: transparent;
        
    /* choose if border appears whem clicking buttons */
    border: none; 
    top: 160px;
    font-size: 30px;
    text-align: center;
}
.card-information:hover {
    background-color: white;
    /* border: 5px solid white; */
}
.card-information p {
    margin-top: 60%;
    margin-bottom: auto;
}
#Site {
    background-image: linear-gradient(90deg, rgba(246, 255, 0, 0.1), rgba(255, 255, 0, 0.664));
}
#Account {
    background-image: linear-gradient(90deg, rgba(246, 255, 0, 0.54), rgba(255, 217, 0, 0.458));
}
#Creator {
    background-image: linear-gradient(90deg, rgba(255, 187, 0, 0.453),rgba(255, 0, 85, 0.13), rgba(255, 0, 200, 0.508));
}
#In4 {
    background-image: linear-gradient(90deg, rgba(255, 0, 200, 0.508), rgba(205, 6, 255, 0.542), rgba(238, 0, 255, 0.153));
}