<div class = "background">
    <div class = "header">
        <div class = "header-text">
            <strong> WELCOME TO MY SHOPPING WEBSITE </strong>    
        </div> 
    </div>
    <!-- create sub-header for independently positing Text and Images' Urls -->
    <div class = "trans-header">
        <a href="https://github.com/tnbminh020506"> <img src = "assets/img/github.png" width="40px" height="40px"> </a>

        <a href=""> <img src = "assets/img/facebook.png" width="40px" height="40px"> </a>

        <a href="https://www.instagram.com/trg._.nbminn/"> <img src = "assets/img/instagram-2.png" width="40px" height="40px"> </a>

        <a href="https://www.tiktok.com/@idk._.tnbm"> <img src = "assets/img/tiktok-2.png" width="40px" height="40px"> </a>
        
    </div>
    
    <div class = "card-information" id = "Site" (click) = "gotoShopSite()"> <p> Shopping Site </p>  </div>
    <div class = "card-information" id = "Account"> <p> User Account </p> </div>
    <div class = "card-information" id = "Creator"> <p> Website Creator </p> </div>
    <div class = "card-information" id = "In4"> <p> More Information </p> </div>
</div>


