/* .............................................................................. */
/* ...................................const DOM.................................. */
/* .............................................................................. */
.body {
    background-image: url("/assets/img/shoes-wall.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    background-position-y: 30%;
    background-position-x: 70%; 
    background-size: 80%;    
}

.main-detail {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* color: red; */
}
.sub-text {
    background-color: antiquewhite;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    position: relative;
}
.sub-doc {
    background-color: lightyellow;
    width: 100%;
    height: 1000px;
    position: relative;
}

/* .............................................................................. */
/* ....................................flexible.................................. */
/* .............................................................................. */

:host {
    --small-width-standard: 60px;
    --main-image-width: 400px;
    --main-detail-margin-top: 30px;
    --button-space-navbar: 120px;   
    --image-space-navbar: 10px;
    --content-space-image: 30px;
    --content-margin-left: calc(var(--small-width-standard) * 2 + var(--button-space-navbar) + var(--image-space-navbar) + var(--main-image-width) + var(--content-space-image));
}

/* .............................................................................. */
/* ..........................main.component.in.detail............................ */
/* .............................................................................. */

.navbar {
    width: 5%;
    overflow-y: scroll;
    position: sticky;
    margin-left: 12%;
    float: left;
    top: 2rem;
    /* background-color: rgba(149, 228, 234, 0.52); */
    margin-top: var(--main-detail-margin-top);
    z-index: 1;
    /* border: 1px solid red; */
}
.navbar::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.detail-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5%;
}

.image-display {
    width: 30%;
    height: auto;
    float: left;
    margin-top: var(--main-detail-margin-top);
    margin-left: 1%;
    position: sticky;
    top: 2rem;
    border-radius: 15px;
}

/* .............................................................................. */
/* ...............................main.text.in.detail............................ */
/* .............................................................................. */

.main-detail p{
    padding-top: 20px;
    /* padding-left: var(--content-margin-left); */
    font-size: 15.5px;
    line-height: 25px;
    width: 420px;
    position: relative;
}
.main-detail h1{
    padding-top: 30px;
    /* padding-left: var(--content-margin-left); */
    position: relative;
}
.main-detail h4{
    padding-top: 20px;
    /* padding-left: var(--content-margin-left); */
    position: relative;
}
.main-detail ul {
    /* padding-left: var(--content-margin-left); */
    position: relative;
}
.main-detail li {
    max-width: 380px;
    margin-left: 20px;
    font-size: 15.5px;
    line-height: 25px;
    position: relative;
    padding-top: 7px;
}

/* .............................................................................. */
/* .............................main.button.in.detail............................ */
/* .............................................................................. */

.content-block {
    /* background-color: antiquewhite; */
    width: 30%;
    /* margin-left: var(--content-margin-left); this is on personal laptop (small window) */
    margin-left: 50%;
    border: 1px solid red;
    /* float: left; */
}

.adjust button {
    white-space: nowrap;
    border: 0.5px solid grey;
    border-radius: 5px;
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
}
.adjust button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.adjust {
    padding-top: 8px;
    /* padding-left: var(--content-margin-left); */
    margin-bottom: 25px;
    position: relative;
    display: inline;
}
.add-item{
    /* padding-left: var(--content-margin-left); */
    margin-top: 40px;
    width: 92%;
    margin-bottom: 50px;
}

.add-item .save-item {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    background: black;
    color: white;
    font-weight: 550;
    margin-bottom: 20px;
}
.add-item .save-item:hover {
    box-shadow: 10px 10px 10px grey;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.add-item .favourite {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    border: 1px solid grey;
    background: white;
    font-weight: 550;
}
.add-item .favourite:hover {
    box-shadow: 10px 10px 10px lightgrey;
    background-color: rgba(255, 255, 255, 0.5);
}

.sameShoesDisplay {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    /* border: 1px solid red; */
}


